[submodule "gb-bootroms"]
	path = gb-bootroms
	url = https://codeberg.org/ISSOtm/gb-bootroms.git
[submodule "gameboy-doctor"]
	path = gameboy-doctor
	url = https://github.com/robert/gameboy-doctor.git
[submodule "sm83"]
	path = sm83
	url = https://github.com/SingleStepTests/sm83
